---
home: false


---



**Installation Through File Manager**
- **Step 1:** Login to Cpanel.
- **Step 2:** Click on "Mysql Database", create a new database, username and Password(click on pasword generator, copy this password at any text document and click on usepassword) adduser to Database for your WordPress installation.
- **Step 3:** Find “File Manager” under “Files” section.
- **Step 4:** Click on “File Manager” and select your domain, double click it.
- **Step 5:** Locate and click on “Upload” button given in header menu. Go to “Choose File” and give path of zipped wordpress for upload it.
- **Step 6:** The uploaded zipped wordpress will appear in your domain. Extract the file and move the contents from wordpress folder to main domain directory
- **Step 7:** Enter your domain into url and press enter,your wordpress installation will be start now.
- **Step 8:** Enter username,database name,password etc for further installation.
- **Step 9:** Login to Wordpress by entering username and password.
- **Step 10:** Dashboard will be open, now customiza your site.

<iframe width="100%" height="375" src="https://www.youtube.com/embed/9mEqSOk6rvY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


**Installation Through localhost**

- **Step 1:** Download the latest version of WordPress.
- **Step 2:** Create database using phpmyadmin interface.
- **Step 3:** Go to the XAMPP folder on your computer and open the htdocs folder.
- **Step 4:** Copy wordpress folder into it.
- **Step 5:** Open localhost at your browser.
- **Step 6:** Enter database name,username (root),password field empty and click enter.
- **Step 7:** Then installed the wordpress.
- **Step 8:** Login to Wordpress by entering username and password.

<iframe width="100%" height="375" src="https://www.youtube.com/embed/fTJrjn4nKyE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

##  dfoloio Installation

You can install Hair Cutter Theme by following either of three ways:

**Installation through FTP**
- **Step 1:** Download Dafolio WP theme from themeforest.net
- **Step 2:** Extract the contents of the ‘Hair Cutter Theme package’ that you downloaded from themeforest.net. After extraction, you will find the contents, like Documentation, Dafolio.zip file, etc.
- **Step 3:** Extract Dafolio.zip file.
- **Step 4:** Connect your website through FTP client, like FileZilla.
- **Step 5:** Upload the extracted Dafolio folder to WP-Contents/Themes.
- **Step 6:** Go to your WordPress Admin Panel and, under appearance section, and click on “Themes”. There you will find newly uploaded Hair Cutter Theme. Simply activate it by clicking on “Activate” button.



**Installation Through File Manager**
- **Step 1:** Login to Cpanel of your hosting.
- **Step 2:** Find “File Manager” under “Files” section.
- **Step 3:** Click on “File Manager” and select your website from dropdown menu of pop-up window. Click on “Go”.
- **Step 4:** New window of File Manager will appear. All the uploaded files of your website will appear.
- **Step 5:** Locate and click on wp-content => Themes
- **Step 6:** Locate and click on “Upload” button given in header menu. Go to “Choose File” and give path for zipped Dafolio folder and upload it.
- **Step 7:** The uploaded zipped Dafolio file will appear in wp-content/themes. Extract the file and the contents will appear at the same place.
- **Step 8:** Go to your WordPress Admin Panel and, under appearance section, click on “Themes”. There you will find newly uploaded Hair Cutter Theme. Simply activate it by clicking on “Activate” button.


**Installation Through WP Admin Panel**
- **Step 1:** Login to WordPress Admin Panel dashboard. After login, you will come to your WordPress Dashboard.

![Alt Text](../assets/images/ins-1.png)
- **Step 2:** Go to “Appearance” => “Themes” => “Add New”.

![Alt Text](../assets/images/ins-2.png)
- **Step 3:**Click on the button “Add new”.

![Alt Text](../assets/images/ins-33.png)
- **Step 4:** Now you’ll see an option for “Upload Theme” at the top of the screen, click on it. Now click the “Choose file” button, navigate your computer files and select the .ZIP file of Hair Cutter Theme which you have already downloaded.

![Alt Text](../assets/images/mit-5.png)
- **Step 5:** After loading of Hair Cutter Theme, click on the "install" button.

![Alt Text](../assets/images/mit-5.png)
- **Step 6:** Once uploaded, click the “Activate” link.

![Alt Text](../assets/images/activate-themag.png)

<iframe width="757" height="426" src="https://www.youtube.com/embed/d4iJUu1xql8?list=PLNDDK564WHKXN3E5k-Qq5qHaM-IL8YBhz" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>



##  Activate Dafolio?
- After installation of theme and activation of required plugins, you have to done last step to import demo content.
## 1: How to Import Demo?
- **Follow the given steps:**
- **Step 1:** After activating theme a new page appear, now click on Let's Go button.
![Alt Text](../assets/images/wzd/demo-1.png)

- **Step 2:** Now click on Continue button to install the theme required plugins.

![Alt Text](../assets/images/wzd/demo-2.png)

- **Step 3:** Now click on Login with Envato button for theme Auto Update.

![Alt Text](../assets/images/wzd/demo-3.png)

- **Step 4:** Now click on Continue button to download demo content.

![Alt Text](../assets/images/wzd/demo-5.png)

- **Step 5:** Now click on Continue button **Advanced Users**: If you are going to make changes to the theme source code please use a Child Theme rather than modifying the main theme HTML/CSS/PHP code. This allows the parent theme to receive updates without overwriting your source code changes. See child-theme.zip in the main folder for a sample.

![Alt Text](../assets/images/wzd/demo-7.png)

- **Step 6:** Now click on Agree and Continue button.

![Alt Text](../assets/images/wzd/demo-8.png)

- **Step 7:** Congratulation you have successfully installed Dafolio Demo.

![Alt Text](../assets/images/wzd/demo-9.png)
- **Step 8:** **Best Of Luck!**